<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>


	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)

	<!-- Override Aui  -->
	<link href="$themeDisplay.getPathThemeRoot()/css/override.css" rel="stylesheet" />

	<!-- Bulma Framework  -->
	<link href="$themeDisplay.getPathThemeRoot()/css/bulma.css" rel="stylesheet" />

	<!-- Font awesome -->
	<link href="$themeDisplay.getPathThemeRoot()/css/font-awesome.min.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/so.css">

	<!-- Plugins CSS  -->
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/slick.css">
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/slick-theme.css">


	<!-- Additional Custom CSS  -->
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/article.css">

	<!-- Media Query CSS -->
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/mq.css">

  	<!-- jQuery scripts -->
	<script src="$themeDisplay.getPathThemeRoot()/js/jquery-3.2.1.min.js"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">


</head>

<body class="$css_class">
<!-- <body> -->

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

#parse ("$full_templates_path/header.vm")

<div class="main-selectable">
	#if ($selectable)
		$theme.include($content_include)
	#else
		$portletDisplay.recycle()

		$portletDisplay.setTitle($the_title)

		$theme.wrapPortlet("portlet.vm", $content_include)
	#end
</div>

#parse ("$full_templates_path/footer.vm")

$theme.include($body_bottom_include)

$theme.include($bottom_include)

<!-- jQuery scripts -->
<script src="$themeDisplay.getPathThemeRoot()/js/slick.min.js"></script>
<!-- Custom css -->
<script src="$themeDisplay.getPathThemeRoot()/js/custom.js"></script>



</body>

</html>
