<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<link rel="apple-touch-icon" sizes="57x57" href="$themeDisplay.getPathThemeRoot()/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="$themeDisplay.getPathThemeRoot()/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="$themeDisplay.getPathThemeRoot()/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="$themeDisplay.getPathThemeRoot()/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="$themeDisplay.getPathThemeRoot()/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="$themeDisplay.getPathThemeRoot()/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="$themeDisplay.getPathThemeRoot()/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="$themeDisplay.getPathThemeRoot()/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="$themeDisplay.getPathThemeRoot()/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="$themeDisplay.getPathThemeRoot()/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="$themeDisplay.getPathThemeRoot()/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="$themeDisplay.getPathThemeRoot()/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="$themeDisplay.getPathThemeRoot()/favicons/favicon-16x16.png">
	<link rel="manifest" href="$themeDisplay.getPathThemeRoot()/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="$themeDisplay.getPathThemeRoot()/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)

	<!-- Override Aui  -->
	<link href="$themeDisplay.getPathThemeRoot()/css/override.css" rel="stylesheet" />

	<!-- Bulma Framework  -->
	<link href="$themeDisplay.getPathThemeRoot()/css/bulma.css" rel="stylesheet" />

	<!-- Font awesome -->
	<link href="$themeDisplay.getPathThemeRoot()/css/font-awesome.min.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/so.css">

	<!-- Plugins CSS  -->
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/slick.css">
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/slick-theme.css">


	<!-- Additional Custom CSS  -->
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/article.css">

	<!-- Media Query CSS -->
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/mq.css">

  	<!-- jQuery scripts -->
	<script src="$themeDisplay.getPathThemeRoot()/js/jquery-3.2.1.min.js"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Social links  -->
	<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
	<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css" />


</head>

<body class="$css_class">
<!-- <body> -->

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

#parse ("$full_templates_path/header.vm")

<div class="main-selectable">
	#if ($selectable)
		$theme.include($content_include)
	#else
		$portletDisplay.recycle()

		$portletDisplay.setTitle($the_title)

		$theme.wrapPortlet("portlet.vm", $content_include)
	#end
</div>

#parse ("$full_templates_path/footer.vm")

$theme.include($body_bottom_include)

$theme.include($bottom_include)

<!-- jQuery scripts -->
<script src="$themeDisplay.getPathThemeRoot()/js/slick.min.js"></script>
<!-- Custom css -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
<script src="$themeDisplay.getPathThemeRoot()/js/custom.js"></script>



</body>

</html>
