@media (max-width: 400px) {
  /* line 8, ../sass/mq.sass */
  header .container {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important; }

  /* line 13, ../sass/mq.sass */
  header.fixed-top {
    position: static; }

  /* line 16, ../sass/mq.sass */
  .half-banner {
    min-height: 32vh;
    min-height: 350px; }

  /* line 20, ../sass/mq.sass */
  .so-menu-toggle {
    display: block; }

  /* line 23, ../sass/mq.sass */
  .so-logo {
    background-position: 15% 0;
    margin-left: 15%; }

  /* line 27, ../sass/mq.sass */
  .block-overlay {
    display: block; }

  /* line 30, ../sass/mq.sass */
  .tagline {
    margin: 0 5%; }

  /* line 33, ../sass/mq.sass */
  #navbarNav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50%;
    left: 0;
    background: rgba(255, 255, 255, 0.94);
    padding: 2em;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateX(-999px);
    transform: translateX(-999px); }

  /* line 45, ../sass/mq.sass */
  #navbarNav .navbar-nav {
    display: block;
    float: none; }

  /* line 48, ../sass/mq.sass */
  #navbarNav .navbar-nav ul {
    margin: 0;
    padding: 0; }

  /* line 51, ../sass/mq.sass */
  #navbarNav .special-corner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 15px 0; }

  /* line 55, ../sass/mq.sass */
  #navbarNav .special-corner > * {
    margin: 8px 0;
    width: auto; }

  /* line 58, ../sass/mq.sass */
  #navbarNav .special-corner .input-group.search {
    width: 100%; }

  /* line 60, ../sass/mq.sass */
  #navbarNav .special-corner input[type="text"] {
    width: 100%; }

  /* line 62, ../sass/mq.sass */
  #navbarNav.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    z-index: 2500;
    width: 70%; }

  /* line 70, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline {
    margin-top: 5vh; }

  /* line 72, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline h1 {
    font-size: 1.8rem; }

  /* line 74, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline small {
    font-size: 1rem;
    max-width: 100% !important; }

  /* line 79, ../sass/mq.sass */
  .lower-content .container {
    padding: 0 30px; }

  /* line 83, ../sass/mq.sass */
  .half-banner .tagline {
    margin-top: 25vw !important; }

  /* line 86, ../sass/mq.sass */
  #what-we-offer .blocks {
    margin: 5% 0; }

  /* line 89, ../sass/mq.sass */
  #enquire-div {
    height: 34vh;
    padding: 15% 0; }

  /* line 93, ../sass/mq.sass */
  #enquire-div .enquire-content {
    display: block; }

  /* line 96, ../sass/mq.sass */
  #enquire-div .form-enquire {
    width: 90% !important; }

  /* line 99, ../sass/mq.sass */
  #enquire-div .enquire-content .button {
    width: auto !important; }

  /* line 103, ../sass/mq.sass */
  #how-we-work article {
    width: 100% !important; }

  /* line 106, ../sass/mq.sass */
  #how-we-work .is-2 {
    position: absolute;
    left: 2%; }

  /* line 110, ../sass/mq.sass */
  #how-we-work .is-10 {
    width: 100%;
    text-align: left !important; }

  /* line 114, ../sass/mq.sass */
  #how-we-work article h3 {
    padding: 0 0 2% 15%; }

  /* line 117, ../sass/mq.sass */
  footer .footer-links {
    width: 90%;
    display: block;
    text-align: center; }

  /* line 122, ../sass/mq.sass */
  .social-icons {
    width: 10% !important; }

  /* line 125, ../sass/mq.sass */
  #featured-online-course .item {
    width: 100%;
    margin-left: 0; }

  /* line 129, ../sass/mq.sass */
  .enquire-expand {
    height: 130vh !important; }

  /* line 132, ../sass/mq.sass */
  #its-us-you-need, #what-we-offer, #how-we-work, #featured-online-course, #what-new-and-upcoming, #our-partners, #our-aim, #delivery-models, #our-aim-v2, #course-development, #services, #contact-us {
    padding: 5%; }

  /* line 135, ../sass/mq.sass */
  #featured-online-course .item .information .description {
    height: auto; }

  /* line 138, ../sass/mq.sass */
  .info-tags .columns {
    padding: 20px 0; }

  /* line 141, ../sass/mq.sass */
  #our-aim .is-2 img {
    margin-top: 10%; }

  /* line 144, ../sass/mq.sass */
  #enquire-div .enquire-content {
    text-align: center; }

  /* line 147, ../sass/mq.sass */
  .journal-content-article .div-content {
    padding: 0 30px; } }
@media (max-width: 1024px) and (min-width: 401px) {
  /* line 154, ../sass/mq.sass */
  header .container {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important; }

  /* line 159, ../sass/mq.sass */
  header.fixed-top {
    position: static; }

  /* line 162, ../sass/mq.sass */
  .half-banner {
    min-height: 32vh; }

  /* line 165, ../sass/mq.sass */
  .so-menu-toggle {
    display: block; }

  /* line 168, ../sass/mq.sass */
  .so-logo {
    background-position: 15% 0;
    margin-left: 15%; }

  /* line 172, ../sass/mq.sass */
  .tagline {
    margin: 0 5%; }

  /* line 175, ../sass/mq.sass */
  .block-overlay {
    display: block; }

  /* line 178, ../sass/mq.sass */
  #navbarNav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60%;
    left: 0;
    background: rgba(255, 255, 255, 0.94);
    padding: 2em;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateX(-999px);
    transform: translateX(-999px); }

  /* line 190, ../sass/mq.sass */
  #navbarNav .navbar-nav {
    display: block;
    float: none; }

  /* line 193, ../sass/mq.sass */
  #navbarNav .special-corner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 15px 0; }

  /* line 197, ../sass/mq.sass */
  #navbarNav .special-corner > * {
    margin: 8px 0;
    width: auto; }

  /* line 200, ../sass/mq.sass */
  #navbarNav .special-corner .input-group.search {
    width: 100%; }

  /* line 202, ../sass/mq.sass */
  #navbarNav .special-corner input[type="text"] {
    width: 100%; }

  /* line 204, ../sass/mq.sass */
  #navbarNav.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    z-index: 2500;
    width: 70%; }

  /* line 213, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline {
    margin-top: 5vh; }

  /* line 215, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline h1 {
    font-size: 1.8rem; }

  /* line 217, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline small {
    font-size: 1rem;
    max-width: 100% !important; }

  /* line 222, ../sass/mq.sass */
  .lower-content .container {
    padding: 0 30px; }

  /* line 226, ../sass/mq.sass */
  .half-banner .tagline {
    margin-top: 10vw !important; }

  /* line 230, ../sass/mq.sass */
  #what-we-offer .blocks {
    margin: 5% 0; }

  /* line 233, ../sass/mq.sass */
  #enquire-div {
    height: 34vh;
    padding: 15% 0; }

  /* line 237, ../sass/mq.sass */
  #enquire-div .enquire-content {
    display: block; }

  /* line 240, ../sass/mq.sass */
  #enquire-div .form-enquire {
    width: 90% !important; }

  /* line 243, ../sass/mq.sass */
  #enquire-div .enquire-content .button {
    width: auto !important; }

  /* line 247, ../sass/mq.sass */
  #how-we-work article {
    width: 100% !important;
    margin-top: 30px; }

  /* line 251, ../sass/mq.sass */
  #how-we-work .is-2 {
    position: absolute;
    left: 2%; }

  /* line 255, ../sass/mq.sass */
  #how-we-work .is-2 img {
    width: 90%;
    max-width: 90%; }

  /* line 259, ../sass/mq.sass */
  #how-we-work .is-10 {
    width: 100%;
    padding-left: 21%;
    text-align: left !important; }

  /* line 264, ../sass/mq.sass */
  #how-we-work article h3 {
    padding: 0; }

  /* line 267, ../sass/mq.sass */
  footer .footer-links {
    width: 90%;
    display: block;
    text-align: center; }

  /* line 272, ../sass/mq.sass */
  .social-icons {
    width: 10% !important; }

  /* line 275, ../sass/mq.sass */
  #featured-online-course .item {
    width: 100%;
    margin-left: 0; }

  /* line 279, ../sass/mq.sass */
  .enquire-expand {
    height: 130vh !important; }

  /* line 282, ../sass/mq.sass */
  #its-us-you-need, #what-we-offer, #how-we-work, #featured-online-course, #what-new-and-upcoming, #our-partners, #our-aim, #delivery-models, #our-aim-v2, #course-development, #services, #contact-us {
    padding: 5%; }

  /* line 285, ../sass/mq.sass */
  #featured-online-course .item .information .description {
    height: auto; }

  /* line 288, ../sass/mq.sass */
  .info-tags .columns {
    padding: 20px 0; }

  /* line 291, ../sass/mq.sass */
  #our-aim .is-2 img {
    margin-top: 10%; }

  /* line 294, ../sass/mq.sass */
  #enquire-div .enquire-content {
    text-align: center; }

  /* line 297, ../sass/mq.sass */
  .journal-content-article .div-content {
    padding: 0 30px; } }
@media (max-width: 1024px) and (min-width: 401px) and (orientation: landscape) {
  /* line 301, ../sass/mq.sass */
  .half-banner {
    min-height: 270px; }

  /* line 304, ../sass/mq.sass */
  .journal-content-article .div-content {
    padding: 0 30px; } }
@media (max-width: 61.9em) {
  /* line 310, ../sass/mq.sass */
  .slick-prev {
    left: -50px; }

  /* line 313, ../sass/mq.sass */
  header .container {
    width: 100%;
    max-width: 100%; } }
@media (max-width: 74.9em) {
  /* line 323, ../sass/mq.sass */
  .slick-prev {
    left: -50px; }

  /* line 326, ../sass/mq.sass */
  header .container {
    width: 100%;
    max-width: 100%; } }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 334, ../sass/mq.sass */
  #contact-us .column {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none; }

  /* line 338, ../sass/mq.sass */
  .column hr {
    float: left; } }
/*# sourceMappingURL=mq.css.map */

