/* line 6, ../sass/article.sass */
.mini-info {
  clear: both;
  margin: 2% 0 0;
  font-size: 1.5rem;
  color: #666666;
}

/* line 12, ../sass/article.sass */
strong.main-text-color {
  clear: both;
  display: block;
}

/* line 16, ../sass/article.sass */
#its-us-you-need, #what-we-offer, #how-we-work, #featured-online-course, #what-new-and-upcoming, #our-partners, #our-aim, #delivery-models, #our-aim-v2, #course-development, #services, #contact-us {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
  line-height: 1.5;
}
/* line 24, ../sass/article.sass */
#its-us-you-need .container, #what-we-offer .container, #how-we-work .container, #featured-online-course .container, #what-new-and-upcoming .container, #our-partners .container, #our-aim .container, #delivery-models .container, #our-aim-v2 .container, #course-development .container, #services .container, #contact-us .container {
  width: 1152px;
  max-width: 1152px;
}
/* line 31, ../sass/article.sass */
#its-us-you-need h2, #what-we-offer h2, #how-we-work h2, #featured-online-course h2, #what-new-and-upcoming h2, #our-partners h2, #our-aim h2, #delivery-models h2, #our-aim-v2 h2, #course-development h2, #services h2, #contact-us h2 {
  color: #666666;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem !important;
}
/* line 35, ../sass/article.sass */
#its-us-you-need hr, #what-we-offer hr, #how-we-work hr, #featured-online-course hr, #what-new-and-upcoming hr, #our-partners hr, #our-aim hr, #delivery-models hr, #our-aim-v2 hr, #course-development hr, #services hr, #contact-us hr {
  width: 72px;
  height: 2px;
  background-color: #169B79;
  clear: both;
  display: block;
  float: left;
  border: 2px solid #169B79;
}
/* line 43, ../sass/article.sass */
#its-us-you-need .linedivide, #what-we-offer .linedivide, #how-we-work .linedivide, #featured-online-course .linedivide, #what-new-and-upcoming .linedivide, #our-partners .linedivide, #our-aim .linedivide, #delivery-models .linedivide, #our-aim-v2 .linedivide, #course-development .linedivide, #services .linedivide, #contact-us .linedivide {
  border-bottom: 4px solid #239c7a;
  width: 6%;
  margin: 2% 0;
}

/* line 48, ../sass/article.sass */
#what-we-offer {
  background: #FAFAFA;
  padding: 5% 0;
}
/* line 53, ../sass/article.sass */
#what-we-offer .columns {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  margin: 0 !important;
}
/* line 58, ../sass/article.sass */
#what-we-offer .blocks {
  text-align: center;
}
/* line 61, ../sass/article.sass */
#what-we-offer .blocks .contents {
  border: 1px solid rgba(204, 204, 204, 0.8);
  margin-bottom: 0;
  margin-top: 0px;
  padding: 5% 5%;
  color: #666666;
  position: relative;
  background: #fff;
  min-height: 310px;
}
/* line 73, ../sass/article.sass */
#what-we-offer .blocks .contents h5 {
  font-weight: 700;
  color: #169B79;
  font-size: 1.3rem;
  padding: 8px 0;
}
/* line 78, ../sass/article.sass */
#what-we-offer .blocks .contents p {
  -webkit-transition: all 0s ease !important;
  transition: all 0s ease !important;
  line-height: 1.8rem;
}
/* line 81, ../sass/article.sass */
#what-we-offer .blocks .contents i.fa {
  font-size: 2rem;
  color: #666666;
  margin-bottom: 15px;
}
/* line 85, ../sass/article.sass */
#what-we-offer .blocks .contents .button {
  margin: 8px auto;
  color: #fff;
  -webkit-transition: all 0s ease !important;
  transition: all 0s ease !important;
  position: relative;
  left: 0;
  right: 0;
}
/* line 92, ../sass/article.sass */
#what-we-offer .blocks .contents:hover {
  background: #169B79 !important;
  color: #fff !important;
}
/* line 95, ../sass/article.sass */
#what-we-offer .blocks .contents:hover i.fa, #what-we-offer .blocks .contents:hover h5 {
  color: #fff;
}
/* line 97, ../sass/article.sass */
#what-we-offer .blocks .contents:hover .button {
  background: #fff !important;
  color: #169B79 !important;
}

/* line 101, ../sass/article.sass */
#how-we-work {
  min-height: 75vh;
  padding: 5% 0;
}
/* line 105, ../sass/article.sass */
#how-we-work article {
  padding: 1% 2%;
}
/* line 107, ../sass/article.sass */
#how-we-work article h3 {
  font-size: 2.1rem;
  padding: 0 0 2%;
  color: #169B79;
}
/* line 111, ../sass/article.sass */
#how-we-work article .is-10 {
  text-align: center;
}
/* line 114, ../sass/article.sass */
#how-we-work article .is-2 img {
  margin-top: 40%;
}

/* line 117, ../sass/article.sass */
#featured-online-course {
  background: #FAFAFA;
  padding: 5% 0;
}
/* line 122, ../sass/article.sass */
#featured-online-course .container {
  max-width: 1152px;
}
/* line 125, ../sass/article.sass */
#featured-online-course .mini-info {
  margin: 2% 0;
}
/* line 127, ../sass/article.sass */
#featured-online-course h2 {
  color: #666666;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem !important;
}
/* line 131, ../sass/article.sass */
#featured-online-course hr {
  width: 72px;
  height: 2px;
  background-color: #169B79;
  clear: both;
  display: block;
  float: left;
}
/* line 138, ../sass/article.sass */
#featured-online-course .item {
  padding: 0 !important;
  min-height: 20vh;
  background: #fff;
  margin: 0 25px 25px 25px;
  border: 1px solid #e2e2e2;
  outline: none;
  width: 25%;
}
/* line 146, ../sass/article.sass */
#featured-online-course .item img {
  width: 100%;
  min-width: 100%;
}
/* line 149, ../sass/article.sass */
#featured-online-course .item .information {
  padding: 15px;
  text-align: center;
}
/* line 152, ../sass/article.sass */
#featured-online-course .item .information h4 {
  border-bottom: 1px solid #e2e2e2;
  padding: 8px;
  margin-bottom: 15px;
  text-align: left;
}
/* line 157, ../sass/article.sass */
#featured-online-course .item .information .price, #featured-online-course .item .information .description {
  text-align: left;
}
/* line 159, ../sass/article.sass */
#featured-online-course .item .information .price {
  margin-bottom: 15px;
}
/* line 161, ../sass/article.sass */
#featured-online-course .item .information .price strong {
  border-right: 1px solid #e2e2e2;
  padding-right: 8px;
  margin-right: 8px;
}
/* line 165, ../sass/article.sass */
#featured-online-course .item .information .description {
  height: 100px;
}
/* line 167, ../sass/article.sass */
#featured-online-course .item .information .button {
  margin: 5% auto;
}

/* line 170, ../sass/article.sass */
#solutions, #products-services {
  background-image: url("./../img/Solutions.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #169B79;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 7%;
}
/* line 180, ../sass/article.sass */
#solutions .solution-content, #products-services .solution-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2%;
}
/* line 186, ../sass/article.sass */
#solutions .solution-content h2, #products-services .solution-content h2 {
  font-size: 2rem;
  margin-bottom: 2%;
  font-family: "Montserrat", sans-serif;
}

/* line 191, ../sass/article.sass */
#enquire-div {
  background-image: url("./../img/bg2.jpg");
  background-position: 0px 160px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-attachment: fixed;
  padding: 7% 0;
  height: 35vh;
}
/* line 202, ../sass/article.sass */
#enquire-div .enquire-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 208, ../sass/article.sass */
#enquire-div .enquire-content .headtext {
  margin: 0 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 211, ../sass/article.sass */
#enquire-div .enquire-content h3 {
  font-size: 2rem;
  color: #169B79;
}
/* line 214, ../sass/article.sass */
#enquire-div .enquire-content .button {
  width: auto;
}
/* line 216, ../sass/article.sass */
#enquire-div .enquire-content .close-enquirebtn {
  display: none;
}
/* line 219, ../sass/article.sass */
#enquire-div .form-enquire {
  padding: 1% 0;
  margin: 0 auto;
  width: 30% !important;
  opacity: 0;
}
/* line 224, ../sass/article.sass */
#enquire-div .form-enquire .control {
  margin: 3% 0 !important;
}
/* line 226, ../sass/article.sass */
#enquire-div .form-enquire.show {
  opacity: 1;
}
/* line 228, ../sass/article.sass */
#enquire-div .form-enquire input.input {
  border-radius: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
/* line 259, ../sass/article.sass */
#enquire-div .form-enquire textarea {
  border-radius: 10px;
}
/* line 261, ../sass/article.sass */
#enquire-div .form-enquire label {
  display: inline-block;
  margin: 4px 0;
}

/* line 265, ../sass/article.sass */
.enquire-expand {
  height: 100vh !important;
}

/* line 268, ../sass/article.sass */
.course-update-radio {
  margin: 0 2%;
}
/* line 270, ../sass/article.sass */
.course-update-radio .radio {
  width: 100%;
  margin: 0;
}
/* line 273, ../sass/article.sass */
.course-update-radio strong {
  text-align: left;
  color: #666666;
  float: left;
  clear: both;
  width: 100%;
  margin: 0 0 3%;
}

/* line 281, ../sass/article.sass */
#what-new-and-upcoming {
  background: #FAFAFA;
}
/* line 284, ../sass/article.sass */
#what-new-and-upcoming .item-box {
  -webkit-box-shadow: 0px 0px 1px #929292;
          box-shadow: 0px 0px 1px #929292;
  padding: 0 0 5%;
}
/* line 287, ../sass/article.sass */
#what-new-and-upcoming .item-box img {
  width: 100%;
  max-width: 100%;
}
/* line 290, ../sass/article.sass */
#what-new-and-upcoming .content {
  padding: 5% 10%;
}
/* line 292, ../sass/article.sass */
#what-new-and-upcoming .content h5 {
  color: #169B79;
  font-weight: 700;
  margin: 2% 0;
}
/* line 296, ../sass/article.sass */
#what-new-and-upcoming .content small, #what-new-and-upcoming .content date {
  font-size: 0.9rem;
  width: 100%;
  display: block;
  margin: 2% 0;
}
/* line 301, ../sass/article.sass */
#what-new-and-upcoming .content small, #what-new-and-upcoming .content p {
  color: #666666;
}
/* line 303, ../sass/article.sass */
#what-new-and-upcoming .content p {
  font-size: 1rem;
}
/* line 305, ../sass/article.sass */
#what-new-and-upcoming .content a {
  margin-bottom: 5%;
  color: #169B79;
}

/* line 311, ../sass/article.sass */
#our-partners .client-listing {
  margin: 5% 0;
  text-align: center;
}
/* line 314, ../sass/article.sass */
#our-partners .client-listing img {
  width: 70%;
}

/* line 318, ../sass/article.sass */
#our-aim {
  padding: 0 0 1%;
}
/* line 321, ../sass/article.sass */
#our-aim article {
  padding: 0 2%;
  text-align: center;
}
/* line 324, ../sass/article.sass */
#our-aim h4 {
  color: #169B79;
  margin-bottom: 15px;
  padding-right: 3%;
  padding-left: 7px;
  font-size: 1.5REM;
  font-weight: 700;
}
/* line 332, ../sass/article.sass */
#our-aim .infograph img {
  padding-right: 50px;
}
/* line 336, ../sass/article.sass */
#our-aim .about-carousel .item {
  width: 70%;
}
/* line 338, ../sass/article.sass */
#our-aim ul {
  list-style: disc !important;
  margin-left: 3%;
  width: 98%;
}
/* line 342, ../sass/article.sass */
#our-aim ul li {
  margin: 2% 0;
  text-align: left;
}
/* line 346, ../sass/article.sass */
#our-aim ul.slick-dots li {
  margin: 0 5px;
}
/* line 349, ../sass/article.sass */
#our-aim h3 {
  font-size: 1.6rem !important;
  text-align: center;
}
/* line 352, ../sass/article.sass */
#our-aim .is-2 {
  padding: 15px;
}
/* line 354, ../sass/article.sass */
#our-aim .is-2 img {
  margin-top: 40%;
}
/* line 356, ../sass/article.sass */
#our-aim .is-10 {
  padding-left: 6%;
}

/* line 361, ../sass/article.sass */
#delivery-models .columns {
  text-align: center;
}
/* line 364, ../sass/article.sass */
#delivery-models .columns .img-tags img {
  margin-bottom: 5%;
  border-radius: 2px;
}
/* line 367, ../sass/article.sass */
#delivery-models .columns h5 {
  color: #169B79;
}
/* line 369, ../sass/article.sass */
#delivery-models .mini-info {
  margin-bottom: 1%;
}

/* line 372, ../sass/article.sass */
#products-services {
  background-image: url("./../img/products.png");
}
/* line 375, ../sass/article.sass */
#products-services ul {
  text-align: left;
  list-style: disc;
}
/* line 378, ../sass/article.sass */
#products-services ul li {
  margin: 2% 0;
}

/* line 381, ../sass/article.sass */
#our-aim-v2 {
  padding: 1% 0;
}
/* line 384, ../sass/article.sass */
#our-aim-v2 .item {
  margin: 0 0 2.5%;
}
/* line 386, ../sass/article.sass */
#our-aim-v2 .item img {
  width: 90%;
  max-width: 80%;
}
/* line 389, ../sass/article.sass */
#our-aim-v2 h4 {
  font-size: 2rem;
  color: #169B79;
}
/* line 392, ../sass/article.sass */
#our-aim-v2 ul {
  list-style: disc;
  padding-left: 2% !important;
}
/* line 395, ../sass/article.sass */
#our-aim-v2 ul li {
  margin: 1% 2px;
}

/* line 401, ../sass/article.sass */
#course-development h4 {
  color: #169B79;
  margin-bottom: 15px;
  padding-right: 3%;
  padding-left: 7px;
  font-size: 1.5REM;
  font-weight: 700;
}
/* line 408, ../sass/article.sass */
#course-development .content {
  float: left;
  width: 50%;
}
/* line 411, ../sass/article.sass */
#course-development .aim-carousel {
  margin: 0 auto;
}

/* line 417, ../sass/article.sass */
#services .columns {
  margin-top: 0 !important;
  line-height: 1.8 !important;
}
/* line 420, ../sass/article.sass */
#services .columns .button {
  margin-top: 2%;
}
/* line 422, ../sass/article.sass */
#services .columns h2 {
  color: #169B79 !important;
}

/* line 426, ../sass/article.sass */
#contact-us {
  padding: 5% 0 5%;
}
/* line 429, ../sass/article.sass */
#contact-us .columns {
  margin: 0 auto !important;
}
/* line 431, ../sass/article.sass */
#contact-us .columns .imgdiv {
  margin: 0 0 2%;
  display: block;
  clear: both;
}
/* line 435, ../sass/article.sass */
#contact-us .columns h4 {
  color: #169B79;
  clear: both;
  font-size: 1.5rem;
  margin: 0;
}
/* line 440, ../sass/article.sass */
#contact-us .columns hr {
  clear: both;
  display: block;
}
/* line 443, ../sass/article.sass */
#contact-us .columns address {
  display: block;
  clear: both;
  font-style: italic;
}

/*# sourceMappingURL=article.css.map */