@media (max-width: 400px) {
  /* line 8, ../sass/mq.sass */
  header .container {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  /* line 13, ../sass/mq.sass */
  header.fixed-top {
    position: static;
  }

  /* line 16, ../sass/mq.sass */
  .half-banner {
    min-height: 32vh;
  }

  /* line 19, ../sass/mq.sass */
  .so-menu-toggle {
    display: block;
  }

  /* line 22, ../sass/mq.sass */
  .so-logo {
    background-position: 15% 0;
    margin-left: 15%;
  }

  /* line 26, ../sass/mq.sass */
  .block-overlay {
    display: block;
  }

  /* line 29, ../sass/mq.sass */
  .tagline {
    margin: 0 5%;
  }

  /* line 32, ../sass/mq.sass */
  #navbarNav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50%;
    left: 0;
    background: rgba(255, 255, 255, 0.94);
    padding: 2em;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(-999px);
            transform: translateX(-999px);
  }
  /* line 44, ../sass/mq.sass */
  #navbarNav .navbar-nav {
    display: block;
    float: none;
  }
  /* line 47, ../sass/mq.sass */
  #navbarNav .navbar-nav ul {
    margin: 0;
    padding: 0;
  }
  /* line 50, ../sass/mq.sass */
  #navbarNav .special-corner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 15px 0;
  }
  /* line 54, ../sass/mq.sass */
  #navbarNav .special-corner > * {
    margin: 8px 0;
    width: auto;
  }
  /* line 57, ../sass/mq.sass */
  #navbarNav .special-corner .input-group.search {
    width: 100%;
  }
  /* line 59, ../sass/mq.sass */
  #navbarNav .special-corner input[type="text"] {
    width: 100%;
  }
  /* line 61, ../sass/mq.sass */
  #navbarNav.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    z-index: 2500;
    width: 70%;
  }

  /* line 69, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline {
    margin-top: 5vh;
  }
  /* line 71, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline h1 {
    font-size: 1.8rem;
  }
  /* line 73, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline small {
    font-size: 1rem;
    max-width: 100% !important;
  }

  /* line 78, ../sass/mq.sass */
  .lower-content .container {
    padding: 0 30px;
  }

  /* line 82, ../sass/mq.sass */
  .half-banner .tagline {
    margin-top: 25vw !important;
  }

  /* line 85, ../sass/mq.sass */
  #what-we-offer .blocks {
    margin: 5% 0;
  }

  /* line 88, ../sass/mq.sass */
  #enquire-div {
    height: 34vh;
    padding: 15% 0;
  }

  /* line 92, ../sass/mq.sass */
  #enquire-div .enquire-content {
    display: block;
  }

  /* line 95, ../sass/mq.sass */
  #enquire-div .form-enquire {
    width: 90% !important;
  }

  /* line 98, ../sass/mq.sass */
  #enquire-div .enquire-content .button {
    width: auto !important;
  }

  /* line 102, ../sass/mq.sass */
  #how-we-work article {
    width: 100% !important;
  }

  /* line 105, ../sass/mq.sass */
  #how-we-work .is-2 {
    position: absolute;
    left: 2%;
  }

  /* line 109, ../sass/mq.sass */
  #how-we-work .is-10 {
    width: 100%;
    text-align: left !important;
  }

  /* line 113, ../sass/mq.sass */
  #how-we-work article h3 {
    padding: 0 0 2% 15%;
  }

  /* line 116, ../sass/mq.sass */
  footer .footer-links {
    width: 90%;
    display: block;
    text-align: center;
  }

  /* line 121, ../sass/mq.sass */
  .social-icons {
    width: 10% !important;
  }

  /* line 124, ../sass/mq.sass */
  #featured-online-course .item {
    width: 100%;
    margin-left: 0;
  }

  /* line 128, ../sass/mq.sass */
  .enquire-expand {
    height: 130vh !important;
  }

  /* line 131, ../sass/mq.sass */
  #its-us-you-need, #what-we-offer, #how-we-work, #featured-online-course, #what-new-and-upcoming, #our-partners, #our-aim, #delivery-models, #our-aim-v2, #course-development, #services, #contact-us {
    padding: 5%;
  }

  /* line 134, ../sass/mq.sass */
  #featured-online-course .item .information .description {
    height: auto;
  }

  /* line 137, ../sass/mq.sass */
  .info-tags .columns {
    padding: 20px 0;
  }

  /* line 140, ../sass/mq.sass */
  #our-aim .is-2 img {
    margin-top: 10%;
  }

  /* line 143, ../sass/mq.sass */
  #enquire-div .enquire-content {
    text-align: center;
  }
}
@media (max-width: 1024px) and (min-width: 401px) {
  /* line 150, ../sass/mq.sass */
  header .container {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  /* line 155, ../sass/mq.sass */
  header.fixed-top {
    position: static;
  }

  /* line 158, ../sass/mq.sass */
  .half-banner {
    min-height: 32vh;
  }

  /* line 161, ../sass/mq.sass */
  .so-menu-toggle {
    display: block;
  }

  /* line 164, ../sass/mq.sass */
  .so-logo {
    background-position: 15% 0;
    margin-left: 15%;
  }

  /* line 168, ../sass/mq.sass */
  .tagline {
    margin: 0 5%;
  }

  /* line 171, ../sass/mq.sass */
  .block-overlay {
    display: block;
  }

  /* line 174, ../sass/mq.sass */
  #navbarNav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60%;
    left: 0;
    background: rgba(255, 255, 255, 0.94);
    padding: 2em;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(-999px);
            transform: translateX(-999px);
  }
  /* line 186, ../sass/mq.sass */
  #navbarNav .navbar-nav {
    display: block;
    float: none;
  }
  /* line 189, ../sass/mq.sass */
  #navbarNav .special-corner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 15px 0;
  }
  /* line 193, ../sass/mq.sass */
  #navbarNav .special-corner > * {
    margin: 8px 0;
    width: auto;
  }
  /* line 196, ../sass/mq.sass */
  #navbarNav .special-corner .input-group.search {
    width: 100%;
  }
  /* line 198, ../sass/mq.sass */
  #navbarNav .special-corner input[type="text"] {
    width: 100%;
  }
  /* line 200, ../sass/mq.sass */
  #navbarNav.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    z-index: 2500;
    width: 70%;
  }

  /* line 209, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline {
    margin-top: 5vh;
  }
  /* line 211, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline h1 {
    font-size: 1.8rem;
  }
  /* line 213, ../sass/mq.sass */
  .upper-content .banner-upper-content .tagline small {
    font-size: 1rem;
    max-width: 100% !important;
  }

  /* line 218, ../sass/mq.sass */
  .lower-content .container {
    padding: 0 30px;
  }

  /* line 222, ../sass/mq.sass */
  .half-banner .tagline {
    margin-top: 10vw !important;
  }

  /* line 226, ../sass/mq.sass */
  #what-we-offer .blocks {
    margin: 5% 0;
  }

  /* line 229, ../sass/mq.sass */
  #enquire-div {
    height: 34vh;
    padding: 15% 0;
  }

  /* line 233, ../sass/mq.sass */
  #enquire-div .enquire-content {
    display: block;
  }

  /* line 236, ../sass/mq.sass */
  #enquire-div .form-enquire {
    width: 90% !important;
  }

  /* line 239, ../sass/mq.sass */
  #enquire-div .enquire-content .button {
    width: auto !important;
  }

  /* line 243, ../sass/mq.sass */
  #how-we-work article {
    width: 100% !important;
    margin-top: 30px;
  }

  /* line 247, ../sass/mq.sass */
  #how-we-work .is-2 {
    position: absolute;
    left: 2%;
  }

  /* line 251, ../sass/mq.sass */
  #how-we-work .is-2 img {
    width: 90%;
    max-width: 90%;
  }

  /* line 255, ../sass/mq.sass */
  #how-we-work .is-10 {
    width: 100%;
    padding-left: 21%;
    text-align: left !important;
  }

  /* line 260, ../sass/mq.sass */
  #how-we-work article h3 {
    padding: 0;
  }

  /* line 263, ../sass/mq.sass */
  footer .footer-links {
    width: 90%;
    display: block;
    text-align: center;
  }

  /* line 268, ../sass/mq.sass */
  .social-icons {
    width: 10% !important;
  }

  /* line 271, ../sass/mq.sass */
  #featured-online-course .item {
    width: 100%;
    margin-left: 0;
  }

  /* line 275, ../sass/mq.sass */
  .enquire-expand {
    height: 130vh !important;
  }

  /* line 278, ../sass/mq.sass */
  #its-us-you-need, #what-we-offer, #how-we-work, #featured-online-course, #what-new-and-upcoming, #our-partners, #our-aim, #delivery-models, #our-aim-v2, #course-development, #services, #contact-us {
    padding: 5%;
  }

  /* line 281, ../sass/mq.sass */
  #featured-online-course .item .information .description {
    height: auto;
  }

  /* line 284, ../sass/mq.sass */
  .info-tags .columns {
    padding: 20px 0;
  }

  /* line 287, ../sass/mq.sass */
  #our-aim .is-2 img {
    margin-top: 10%;
  }

  /* line 290, ../sass/mq.sass */
  #enquire-div .enquire-content {
    text-align: center;
  }
}
@media (max-width: 61.9em) {
  /* line 295, ../sass/mq.sass */
  .slick-prev {
    left: -50px;
  }

  /* line 298, ../sass/mq.sass */
  header .container {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 74.9em) {
  /* line 308, ../sass/mq.sass */
  .slick-prev {
    left: -50px;
  }

  /* line 311, ../sass/mq.sass */
  header .container {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 319, ../sass/mq.sass */
  #contact-us .column {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  /* line 323, ../sass/mq.sass */
  .column hr {
    float: left;
  }
}

/*# sourceMappingURL=mq.css.map */